.logo {
     width: 90px;
}

.widget {
     overflow: hidden;
}

.selanjutnya {
     background-color: #e2d7e1;
     color: #55415c;
     padding: 10px 15px 10px 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
}
.selanjutnya:hover {
     color: gray;
}

.tombol:hover {
     opacity: 0.9;
}

.ikon-sel {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     cursor: pointer;
     display: flex;
     align-items: center;
     justify-content: center;
}

.sel {
     position: relative;
}

.sel:hover {
     background-color: #f2f2f2;
}
